<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Project</title>
</head>
<body>

    <form onsubmit="return false">
        <div class="wrapper">
            <label for="name"> 프로젝트 이름 </label>
            <input type="text" id="name">

            <label for="period"> 프로젝트 기간</label>
            <input type="text" id="period">

            <label for="description"> 프로젝트 설명</label>
            <input type="text" id="description">

            <label for="persons"> 프로젝트 인원 </label>
            <input type="text" id="persons">
        </div>

        <div> <input type="submit" class="project_register" value="등록"></div>
    </form>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/project/registerProject.js}"></script>
</body>
</html>