<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="login-form">
    <form th:action="@{/login}" method="post">
        <input type="text"  class="id text-field" placeholder="아이디" name="id"><br>
        <span class="idErrorMessage"></span>
        <input type="password"  class="password text-field" placeholder="비밀번호" name="password"><br>
        <span class="passwordErrorMessage"></span>

        <input type="submit" class="login" value="LOGIN">
    </form>

    <div class="links">
        <a href="http://localhost:8080/userRegister">ID가 없나요?</a>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/relatedLogin/login.js}"></script>
</body>
</html>