<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <label for="name"> 프로젝트 이름 : <input type="text" height="100px" width="50px" id="name"> </label>
    <label for="period"> 프로젝트 기간 : <input type="text" height="100px" width="50px" id="period"> </label>
    <label for="description"> 역할 : <input type="text" height="100px" width="50px" id="description"> </label>
    <label for="persons"> 참여한 인원 수 : <input type="text" height="100px" width="50px" id="persons"> </label>

    <input type="button" id="project_register" value="등록">

<script th:src="@{/js/registerProject.js}"></script>
</body>
</html>